= form_for @boggle, url: {controller: 'boggles', action: 'organize'}, html: {class: 'new_boggle row justify-content-center'} do |f|
  - if @boggle.errors.any?
    #error_explanation
      h2 = "#{pluralize(@boggle.errors.count, "error")} prohibited this boggle from being saved:"
      ul
        - @boggle.errors.full_messages.each do |message|
          li = message

  = f.submit 'Play with others', class: 'actions btn btn-dark '
