h3 List of Games

table.table
  thead
    tr
      th Game
      th Organizer
      th
      th
  tbody#game-body
    - (current_user&.subscribed_games&.unfinished&.latest&.order(created_at: :desc) + current_user.boggles&.unfinished.order(created_at: :desc)).uniq.each do |game|
      tr[id="boggle-row-#{game.id}"]
        td = game.id
        td = game&.organizer&.email
        td = time_ago_in_words(game.created_at)
        td
          = form_for game, url: boggle_join_path(game) do |f|
            = hidden_field_tag :player_id, current_user.id
            - joined = game.player_ids.include?(current_user.id)
            button.btn.btn-primary[disabled = joined]
              = joined ? 'JOINED' : 'JOIN'

