.container
  .row.justify-content-md-center
    .col-12
      #boggle_words
        - if current_user.present?
          .span.border.border-success
            - player = BogglePlayer.find_by(boggle: @boggle, player: current_user)
            - player.boggle_words.correct.each do |boggle_word|
              span.badge.badge-success = boggle_word.word

          .span.border.border-danger
            - player.boggle_words.incorrect.each do |boggle_word|
              span.badge.badge-danger = boggle_word.word
        - else
          .span.border.border-success
            - @boggle.boggle_words.correct.each do |boggle_word|
              span.badge.badge-success = boggle_word.word
          .span.border.border-danger
            - @boggle.boggle_words.incorrect.each do |boggle_word|
              span.badge.badge-danger = boggle_word.word
      br

    - letters_array = @boggle.letters.split ''

    .row.justify-content-md-center[style="width: 100%"]
      .col-12.d-sm-block.d-none
        - if @boggle.boggle_players.blank?
          h6#score = "SCORE:" + @boggle.score.to_s
        - else
        - @boggle.boggle_players.each do |player|
          h6[id="score-#{player.player.id}" style="background-color: #{current_user.id == player.player.id ? 'green' : 'red'}; color: white"]= "SCORE #{player.player.id}:  " + player.score.to_s
      .col-md-9.col-sm-12
        #boggle_letters.my-3
          - (1..16).each do |i|
            - if @boggle.finished
              button.btn.btn-light.btn-outline-dark.boggle_letter[disabled] = letters_array[i-1]
            - else
              button.btn.btn-light.btn-outline-dark.boggle_letter = letters_array[i - 1]
            - if i % 4 == 0
              br
      .col-3.d-none.d-md-block
        - if @boggle.boggle_players.blank?
          h6#score = "SCORE:" + @boggle.score.to_s
        - else
          - @boggle.boggle_players.each do |player|
            h6[id="score-#{player.player.id}" style="background-color: #{current_user.id == player.player.id ? 'green':'red'}; color: white"]= "SCORE #{player.player.id}:  " + player.score.to_s

        - if current_user == @boggle.organizer && !@boggle.finished
          = form_tag boggle_path(@boggle), method: 'PATCH' do |f|
            = hidden_field_tag("boggle[finished]", true)
            button#finish.btn.btn-danger[type='submit'] Finish
      br
      br
  .row.justify-content-md-center
    = form_tag boggle_boggle_words_path(@boggle), remote: true do |f|
      .input-group
        = text_field_tag :word, '', autocomplete: :off, class: 'form-control', readonly: @boggle.finished?
        .input-group-append
          = submit_tag 'Push', class: 'btn btn-dark'


javascript:
  $('.boggle_letter').on('click', function () {
      let val = $('#word').val();
      if (typeof val !== 'undefined') {
          $('#word').val(val.toString() + $(this).text())
      }else {
          $('#word').val($(this).text())
      }
      $('#word').focus();
  });

  if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
      $('#word').attr('readonly', 'readonly')
  }






