h1 Listing boggles

table.table
  thead
    tr
      th ID
      th Total Correct Words
      th Total Attempted Words
      th Score
      th
      th
      th
      th

  tbody
    - @boggles.order(created_at: :desc).each do |boggle|
      tr
        td = boggle.id
        td = boggle.boggle_words.correct.count
        td = boggle.boggle_words.count
        td = boggle.score
        td = link_to 'Show', boggle
        td = !boggle.finished? ? link_to('Edit', edit_boggle_path(boggle)) : ''
        td = link_to 'Destroy', boggle, data: { confirm: 'Are you sure?' }, method: :delete
        td = !boggle.finished? ? link_to('Finish', boggle_finish_path(boggle), method: :patch) : ''

br

= link_to 'New Boggle', new_boggle_path
