.container
  h1 New boggle
  .row.justify-content-center

    .col-5
      = render 'form'

    - if current_user.present?
      .col-7.d-block[style="height: 400px;overflow:scroll;"]
        = render 'games'
