p#notice = notice

.container
  .row.justify-content-md-center

    .col-12
      #boggle_words
        .span.border.border-success
          - @boggle.boggle_words.correct.each do |boggle_word|
            span.badge.badge-success = boggle_word.word

        .span.border.border-danger
          - @boggle.boggle_words.incorrect.each do |boggle_word|
            span.badge.badge-danger = boggle_word.word
      br

    - letters_array = @boggle.letters.split ''

    .row.justify-content-md-center
      .col-12
        #boggle_letters
          - (1..16).each do |i|
            button.btn.btn-light.btn-outline-dark.boggle_letter = letters_array[i-1]
            - if i % 4 == 0
              br

=< link_to 'Back', boggles_path
