h1 Solve Boggle

= form_tag solve_path(format: :js), remote: true
    div.form-group
        label[for="letters"] = 'Letters'
        input[type="text" class="form-control" id="letters" name="letters"]

    button.btn.btn-primary[type="submit"]
        = 'Submit'

h2 Solutions

.container
    .row.justify-content-md-center

    .col-12
      #boggle_words
        .span.border.border-success

