h1 This is the users index page

table.table
  thead
    tr
      th User
      th
      th
  tbody
    - @users.each do |user|
      - unless user == current_user
        tr
          td =  user.email
          td
            button.btn.btn-primary.follow-btn[id=user.id]
              = current_user.following?(user) ? 'Unfollow' : 'Follow'

= form_tag '/follow', id: 'follow_user'
  = hidden_field_tag :friend_id

javascript:
  $(".follow-btn").on("click", (e) => {
      const friend_id = e.target.id
      console.log("Going to follow someone?", friend_id)

      $("#friend_id").val(friend_id)
      $('#follow_user').submit()
  })
