<% if @boggle_word.persisted? %>
	<% if @boggle_word.correct? %>
		$("#boggle_words .span.border.border-success").append("<span class='badge badge-success'> <%= @boggle_word.word %> </span>")
	<% else %>
		$("#boggle_words .span.border.border-danger").append("<span class='badge badge-danger'> <%= @boggle_word.word %> </span>")
	<% end %>
<% else %>
	$("#message").html("<div class='alert alert-danger'>Already pushed the word <%= @boggle_word.word %></div>")
<% end %>

$("#word").val("")
$("#word").select()
