// Place all the styles related to the boggles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

button.boggle_letter {
  width: 100px;
  height: 100px;
  font-size: 75px;

  @media screen and (max-width: 560px) {
    width: 73px;
    height: 75px;
    font-size: 50px;
  }
}

.green {
	color: green
}

.red {
	color: red
}

.badge {
  padding: 0px 5px;
  margin: 5px 5px;
  font-size: 20px;
}

span.border {
  padding: 20px;
}

#message  {
  color: #B00100;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 110px;
  @media screen and (max-width: 560px) {
    font-size: 10px;
  }
}

form {
  width: 100%;
}

.row.score-row {
  width: 100%;
}

.new_boggle {
  .actions.btn.btn-dark {
    height: 50px;
    width: 250px;
  }
}

.navbar {
  .google-auth {
    color: white;

    &:hover {
      background-color: inherit;
    }
  }
}

button:disabled {
  border: 1px solid #999999 !important;
}

@keyframes myAnimation{
  0%{
    opacity: 1;
    transform: rotateX(90deg);
  }
  50%{
    opacity: 0.5;
    transform: rotateX(0deg);
  }
  100%{
    display: none;
    opacity: 0;
    transform: rotateX(90deg);
  }
}

#message{
  animation-name: myAnimation;
  animation-duration: 2000ms;
  animation-fill-mode: forwards;
}
